*{
margin:0;
padding:0;
box-sizing:border-box;
}

h2{
color:#2c3e50;
font-size:24px;
}

h3{
color:#16a085;
font-size:20px;
}

hr{
height:2px;background:#3498db;
border:none;
margin:15px 0;
}

p{
color:#34495e;
font-size:16px;
margin:10px 0;
}

div {
 background-color: #ecf0f1; /* Light grey background */
 border: 1px solid #bdc3c7; /* Border color */
 padding: 15px;
 margin-bottom: 20px;
 border-radius: 5px;
}
span{
color:red;
font-weight:bold;
}

time{
color:purple;
font-style:italic;}

img{
max-width:100%;
border:2px solid #3498db;
}

a{
color:blue;
text-decoration:none;
}
a:hover{text-decoration:underline;
}
